<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Add a new squad.</h1>
  <form action="/squads" method="POST">
  <p>
  
  <input type="text" name="name" id="name" placeholder="Name">
  
  <input type="text" name="mascot" id="mascot" placeholder="Mascot">
  <input type="submit" value="Create">
  </p>
  </form>

</body>
</html>